*{
    font-family: sans-serif;
}

body {
  background-color: #343a40;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}

.none {
    display: none;
}

.post h3 {
  font-family: sans-serif;
}

#pre-header {
  width: 100% !important;
  background: linear-gradient(#3f3f3f, #262626 50%);
  height: 200px;
}

#header_top  {
  height: 130px;
}

#header_top a {
  display: block;
}

#other_blocks {
  display: flex;
}

#other_blocks>* {
  display: flex;
  text-shadow: 2px 1px black;
  border-left: unset;
 /* border: 1px solid white;*/
}

#search_block {
  float: none;
  width: 100%;
  padding: unset;
  height: unset;
  display: flex;
  justify-content: center;
}

#search_block div {
  display: flex;
}

#search_block label {
  padding: 5px;
  margin-bottom: unset;
  font-family: sans-serif;
}

#s {
  margin-top: unset;
  height: 22px;
  background: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#searchsubmit {
  margin-left: -28px;
  margin-top: 0px;
  
}

#wblock {
  display: flex;
  justify-content: center;
  width: 100%;
  height: unset;
  float: none;
  padding: unset;
}

#wblock .h2 {
  font-family: sans-serif;
}

#site_selector {
  height: 24px;
  padding: 3px;
  margin-top: unset;
  margin-left: 25px;
}

#menu_list #cat_parent_2 {
  background: linear-gradient(#d42e2d, #8b1919);
}

#firstChild {
  width: 900px;
}

#page {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
}

.slidhead 
{
    display: flex;
    width: 699px;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
}

.primaryBlock {
  width: fit-content;
  height: fit-content;
  box-shadow: 3px 3px 3px lightgrey;
  border-radius: 10px;
  margin-bottom: 20px;
}

.titlePrimaryBlock 
{
    padding: 10px 0px 10px 10px;
    width: 690px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: linear-gradient(0deg, #ec1529 48%, rgba(255, 0, 0, 1) 68%);
}


.titlePrimaryBlock h1 {
    font-size: 26px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    text-shadow: 1px 1px 4px black;
}

.justContent h3 {
    font-family: sans-serif;
    height: 70px;
}

.justContent a {
    padding-top: 10px;
    display: block;
    text-align: center;
}

.justContent a:hover {
  text-decoration: underline;
}

.justContent p {
  font-size: 12px;
  height: 190px;
  /*border: 0.5px solid;*/
}

.justContent p .text {
  display: block;
  /*border: 0.5px solid;*/
  overflow-x: hidden;
  height: 150px;
}

.justContent p .text::-webkit-scrollbar {
  width: 10px;
  position: fixed;
}

.justContent p .text::-webkit-scrollbar-track {
  background: inherit;
}

.justContent p .text::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 1px solid grey;
}


.imgPrimaryBlock  {
    position: relative;
    width: 700px;
    height: 340px;
    overflow: hidden;
    background-color: #333;
    margin-left: 0px;
    /*margin-bottom: 20px;*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#sidebar { 
  padding: unset;
  padding-left: 5px;
  margin-left: 1%;
  text-align: center;
}

#sidebar h3 { 
  width: max-content;
  font-family: sans-serif;
  margin: 15px auto;
}

#frame
{
  margin: 0 auto;
  width: 100%;
}
.slider 
{
  position: relative;
  overflow: hidden;
}
#prev, #next
{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  color: white;
  font-size: 3em
}
#prev:hover, #next:hover
{ 
  color: yellow;
  transition: 1s;
}
#prev:active, #next:active
{
  font-size: 4em;
  transition: 1s;
}
#next
{
  right: 20px;
}
#prev
{
  left:20px;
}
.elements 
{
  display: flex;
  transition: 1s linear;
  /*position: relative;*/
}
.element
{
  flex: 1 0 100%;
  position: relative;
}
.element>a>img
{
  width:100%;
  height: auto;
}

.caption
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
  background-color: rgb(0,0,0,0.4);
  padding: 30px;
  /*bottom:10%;*/
  font-size: 2em;
  font-weight: bold;
}
.numbertext
{
  color: white;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
}
#points
{
    display: none;
    text-align: center;
    width: 100px;
    padding: 5px;
    margin: 25px auto;
}
.dot
{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot:hover
{
  background-color: #717171;
}
#points>.active
{
  background-color: #717171;
}
/*Modal*/

#modal {
  display: none;
}

#modal.show {
  display: block;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color:#30303080 ;
  top: 0px;
  left:0px;
  z-index: 1;
}

body {
  margin: 0px;
}

.modal-content {
  position: absolute;
  margin: auto;
  width: 30%;
  margin-top: 25vh;
  margin-left: 35%;
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  padding-right: 30px;
  word-break: wrap;
  z-index: 1;
}

.modal-content .fa-xmark {
  position: absolute;
  top:15px;
  right: 15px;
  cursor: pointer;
}

.modal-content h1 {
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
  color: #ec1529;
  margin-bottom: 5px;
}

.modal-content p  {
  font-size: 17px !important;
}

.modal-content i {
  font-size: 26px;
  margin: 5px auto;
}

.modal-content i.rotate-mobile {
  transform: rotate(90deg);
}

.akcelo-wrapper, #Montceaunews_Artikle_Container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1110px) {
  #header_top {
    width: 100%;
  }

  #bg {
    width:100%;
  }

  #page {
    width: 100%;
  }

  #firstChild {
    width: 100%;
  }

  #content {
    width: 619px;
  }

  #sidebar {
    background: unset;
  }

  .slidhead {
    width: 584px;
  }

  .titlePrimaryBlock {
    width: 575px;
  }

  .imgPrimaryBlock {
    width: 585px;
    height: 284px;
  }

  .imgPrimaryBlock img {
   height: 292px;
  }

  .contentPrimaryBlock {
    width: 250px;
    z-index: 0;
  }

  .bkgrdBlock {
    width: 250px;
  }

  .justContent h3 {
    font-size: 18px;
  }

  .justContent p {
    font-size: 17px;
  }

  .justContent p .text {
    height: 140px;
  }

  .justContent p br {
    display: none;
  }

  .pubs a img {
    width: 584px;
    height: 167px;
  }
}

@media screen and (max-width:992px) {

  #header_top  {
    display: flex;
  }

  #header_top img {
    margin: 30px 0 0 0;
  }

  #other_blocks {
    flex-wrap: wrap;
    align-items: center;
    border-left: 1px solid #222;
  }

  #s {
    margin-left: 15px;
  }

  #menu_list #cat_parent, #menu_list #cat_parent_2  {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  #menu_list #cat_parent li {
    display: flex;
    align-items: center;
    margin: 0 5px;
    height: 15px;
    padding: 5px;
  }
  #sidebar {
    background: unset;
  }
}

@media screen and (max-width:945px) {
  #firstChild, #banniere-haut {
    width: 95% !important;
  }

  .element>a>img {
    width: 95%;
    height: auto;
  }

  .primaryBlock {
    box-shadow: unset;
    border-radius: unset;
  }

  #content{
    width: 496px;
  }

  .slidhead {
    width: 496px;
  }

  .titlePrimaryBlock {
    width: 460px;
    padding: 5px 0px;
  }

  .titlePrimaryBlock h1 {
    padding-left: 5px;
  }

  .imgPrimaryBlock {
    width: 470px;
    height: 525px;
  }

  .imgPrimaryBlock img {
    height: 235px;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }

  .contentPrimaryBlock {
    width: 470px;
    top:233px
  }

  .bkgrdBlock {
    width: 200px;
  }
}

@media screen and (max-width:900px) {

  #pre-header {
    height: 255px;
}

  #header_top img {
    width: 100%;
    margin: 40px 0 0 0;
  }

  #menu_list #cat_parent, #menu_list #cat_parent_2 {
    flex-wrap: wrap;
    height: 72px;
  }

  #banniere-haut {
    width: 90%;
  }

  .element>a>img {
    width: 90%;
    height: auto;
  }
}

@media screen and (max-width: 856px) {
  
  .slidhead {
    width: 470px;
  }

  .sidebar_pubs a img {
    width: 60%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {

  #pre-header {
    width: 100%;
    margin-bottom: 50px;
  }

  #header_top a {
    width: 40%;
  }

  #header_top img {
    width: 90%;
  }

  #other_blocks {
    width: 50%;
  }

  #menu_list #cat_parent, #menu_list #cat_parent_2  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 708px) {

  #pre-header {
    width: 100%;
  }

  #header_top {
    flex-direction: column;
    align-items: center;
  }

  #header_top a {
    width: 100%;
  }

  #header_top img {
    width: 320px;
    margin: 10px 0;
  }

  #other_blocks {
    width: 340px;
    border-left: unset;
    height: 60px;
  }

  #site_selector {
    margin-left: 30px;
  }

  .element>a>img {
    width: 100%;
    height: auto;
  }

  #content {
    width: 50%;
  }

  .slidhead, .primaryBlock, .titlePrimaryBlock , .imgPrimaryBlock, .contentPrimaryBlock {
    width: 100%;
  }

  #sidebar {
    width: 48%;
    overflow: hidden;
    margin-left: 5%;
  }

  img[alt="contactez Montceau-news"] {
    width: 80%;
  }

  .sidebar_pubs {
    text-align: start; 
  }

  .sidebar_pubs a img {
    width: 90%;
    height: auto;
  }

  .pubs a img {
    width: 100%;
    height: auto;
  }

  .post img {
    width: 100%;
    height: auto;
  }
  
  .sidebar_pubs>* {
    border:1 px solid;
  }

  .navigation {
    width: 199%;
    margin-left: unset;
  }

  #Montceaunews_MTF_300x600_1-iframe-container,
  #Montceaunews_MTF_300x600_1-iframe-container iframe,
  #Montceaunews_MTF_300x600_2-iframe-container
  #Montceaunews_MTF_300x600_2-iframe-container iframe,
  #Montceaunews_MTF_300x600_3-iframe-container
  #Montceaunews_MTF_300x600_3-iframe-container iframe,
  #Montceaunews_MTF_300x600_4-iframe-container
  #Montceaunews_MTF_300x600_4-iframe-container iframe,
  #Montceaunews_MTF_300x600_5-iframe-container
  #Montceaunews_MTF_300x600_5-iframe-container iframe,
  #Montceaunews_MTF_300x600_6-iframe-container
  #Montceaunews_MTF_300x600_6-iframe-container iframe,
  #Montceaunews_MTF_300x600_7-iframe-container
  #Montceaunews_MTF_300x600_7-iframe-container iframe,
  #Montceaunews_MTF_300x250_2-iframe-container,
  #Montceaunews_MTF_300x250_2-iframe-container iframe,
  #Montceaunews_MTF_300x250_4-iframe-container,
  #Montceaunews_MTF_300x250_4-iframe-container iframe,
  #Montceaunews_MTF_300x250_6-iframe-container,
  #Montceaunews_MTF_300x250_6-iframe-container iframe,
  .akcelo-native-block {
    width: 90% !important;
    height: 90% !important;
  }
  
}





