*{
    font-family: sans-serif;
}

body {
  background-color: #343a40;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
}

.none, .postmetadata {
    display: none;
}

.post h3 {
  font-family: sans-serif;
}

header {
  width: 100%;

}

#pre-header {
  width: 100% !important;
  background: linear-gradient(#3f3f3f, #262626 50%);
  height: 173px;
  margin-bottom: unset;
  /*position: fixed;
  z-index: 1;
  */
}

#header_top  {
  display: flex;
  align-items: center;
  height: 100px;
}

#header_top a {
  display: block;
}

#header_top #icon_menu, 
#header_top #icon_research, 
#header_top #icon_menu_newspaper,
#header_top #close_others_blocks {
  display: none;
}

#other_blocks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  border-left: 1px solid #222;
  height: 100%;
}

#other_blocks>* {
  display: flex;
  text-shadow: 2px 1px black;
  border-left: unset;
 /* border: 1px solid white;*/
}

#search_block {
  float: none;
  width: 100%;
  padding: unset;
  height: unset;
  display: flex;
  justify-content: center;
}

#search_block div {
  display: flex;
}

#search_block label {
  padding: 5px;
  margin-bottom: unset;
  font-family: sans-serif;
}

#s {
  margin-top: unset;
  height: 22px;
  background: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 12px;
}

#s::placeholder {
  color: transparent;
}

#searchsubmit {
  margin-left: -28px;
  margin-top: 0px;
  
}

#wblock {
  display: flex;
  justify-content: center;
  width: 100%;
  height: unset;
  float: none;
  padding: unset;
}

#wblock .h2 {
  font-family: sans-serif;
}

#site_selector {
  height: 24px;
  padding: 3px;
  margin-top: unset;
  margin-left: 25px;
}

#menu_list #cat_parent_2 {
  background: linear-gradient(#d42e2d, #8b1919);
}

#menu_list #close_menu {
  display: none;
}

#firstChild {
  width: 1080px;
  padding-top: 20px;
  background-color: #fff;
  /*position: fixed;
  top: 225px;
  z-index: 1;*/
}
/*
#bg {
  position: relative;
  top:450px;
}
*/
#page {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
  height: auto !important;
}

.slidhead 
{
    display: flex;
    width: 699px;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
}

.primaryBlock {
  width: fit-content;
  height: fit-content;
  box-shadow: 3px 3px 3px lightgrey;
  border-radius: 10px;
  margin-bottom: 20px;
}

.titlePrimaryBlock 
{
    padding: 10px 0px 10px 10px;
    width: 690px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: linear-gradient(0deg, #ec1529 48%, rgba(255, 0, 0, 1) 68%);
}


.titlePrimaryBlock h1 {
    font-size: 26px;
    font-weight: bold;
    font-family: sans-serif;
    color: #fff;
    text-shadow: 1px 1px 4px black;
}

.justContent h3 {
    font-family: sans-serif;
    height: 70px;
}

.justContent a {
    padding-top: 10px;
    display: block;
    text-align: center;
}

.justContent a:hover {
  text-decoration: underline;
}

.justContent p {
  font-size: 12px;
  height: 190px;
  /*border: 0.5px solid;*/
}

.justContent p .text {
  display: block;
  /*border: 0.5px solid;*/
  overflow-x: hidden;
  height: 150px;
}

.justContent p .text::-webkit-scrollbar {
  width: 10px;
  position: fixed;
}

.justContent p .text::-webkit-scrollbar-track {
  background: inherit;
}

.justContent p .text::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 1px solid grey;
}

.justContent .addtoany_list {
  display: block;
  text-align: center;
}


.imgPrimaryBlock  {
    position: relative;
    z-index: 0;
    width: 700px;
    height: 340px;
    overflow: hidden;
    background-color: #333;
    margin-left: 0px;
    /*margin-bottom: 20px;*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/*
#content .sidebar_pubs_Internal_container {
  display: none;
}
*/
#sidebar { 
  padding: unset;
  padding-left: 5px;
  margin-left: -1%;
  text-align: center;
}

#sidebar h3 { 
  width: max-content;
  font-family: sans-serif;
  margin: 15px auto;
}

#frame
{
  margin: 0 auto;
  width: 100%;
}
.slider 
{
  position: relative;
  overflow: hidden;
}
#prev, #next
{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  color: white;
  font-size: 3em
}
#prev:hover, #next:hover
{ 
  color: yellow;
  transition: 1s;
}
#prev:active, #next:active
{
  font-size: 4em;
  transition: 1s;
}
#next
{
  right: 20px;
}
#prev
{
  left:20px;
}
.elements 
{
  display: flex;
  /*transition: 1s linear;
  /*position: relative;*/
}
.element
{
  flex: 1 0 100%;
  position: relative;
}
.element a 
{
  display:block;
  max-height: 200px;
  border: 1px solid;
}
.element>a>img
{
  width:100%;
  height: auto;
}
/*
.caption
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: white;
  background-color: rgb(0,0,0,0.4);
  padding: 30px;
  bottom:10%;
  font-size: 2em;
  font-weight: bold;
}
.numbertext
{
  color: white;
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
}
*/

#points
{
    display: block;
    text-align: center;
    width: 250px;
    padding: 5px;
    margin: 5px auto;
}

.dot
{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot:hover
{
  background-color: #717171;
}
#points>.active
{
  background-color: #717171;
}
/*Modal*/

#modal {
  display: none;
}

#modal.show {
  display: block;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color:#30303080 ;
  top: 0px;
  left:0px;
  z-index: 1;
}

body {
  margin: 0px;
}

.modal-content {
  position: absolute;
  margin: auto;
  width: 30%;
  margin-top: 25vh;
  margin-left: 35%;
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  padding-right: 30px;
  word-break: wrap;
  z-index: 1;
}

.modal-content .fa-xmark {
  position: absolute;
  top:15px;
  right: 15px;
  cursor: pointer;
}

.modal-content h1 {
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
  color: #ec1529;
  margin-bottom: 5px;
}

.modal-content p  {
  font-size: 17px !important;
}

.modal-content i {
  font-size: 26px;
  margin: 5px auto;
}

.modal-content i.rotate-mobile {
  transform: rotate(90deg);
}

.akcelo-wrapper, #Montceaunews_Artikle_Container {
  display: flex;
  flex-wrap: wrap;
}

#footer {
  padding-top: 35px;
}

#sidebar {
  overflow: hidden;
}

#content .post {
  background: unset;
  border: 1px lightgrey solid;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 10px 4px 0px inset;
}

@media screen and (max-width: 1110px) {
  #header_top {
    width: 100%;
  }

  #bg {
    width:100%;
  }

  #page {
    width: 100%;
  }

  #firstChild {
    width: 100%;
  }

  #content {
    width: 619px;
  }

  #content .pubs iframe {
    transform-origin: top left;
    /*border: 1px solid !important;*/
  }

  #sidebar {
    background: unset;
    /*margin-left: 10%;*/
  }

  .slidhead {
    width: 584px;
  }

  .titlePrimaryBlock {
    width: 575px;
  }

  .imgPrimaryBlock {
    width: 585px;
    height: 284px;
  }

  .imgPrimaryBlock img {
   height: 292px;
  }

  .contentPrimaryBlock {
    width: 250px;
    z-index: 0;
  }

  .bkgrdBlock {
    width: 250px;
  }

  .justContent h3 {
    font-size: 18px;
  }

  .justContent p {
    font-size: 17px;
  }

  .justContent p .text {
    height: 210px;
  }

  .justContent p br, .justContent .addtoany_list  {
    display: none;
  }

  .pubs a img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width:992px) {

  #header_top  {
    display: flex;
  }
  /*
  #other_blocks {

  }
  */
  #s {
    margin-left: 15px;
  }

  #menu_list #cat_parent, #menu_list #cat_parent_2  {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  #menu_list #cat_parent li {
    display: flex;
    align-items: center;
    margin: 0 5px;
    height: 15px;
    padding: 5px;
  }
  #sidebar {
    background: unset;
  }
}

@media screen and (max-width:975px) {
  #pre-header {
    height: 242px;
  }
  #firstChild, #banniere-haut {
    width: 100% !important;
  }

  #menu_list #cat_parent, #menu_list #cat_parent_2 {
    flex-wrap: wrap;
    height: 72px;
  }

  .element>a>img {
    width: 95%;
    height: auto;
  }

  .primaryBlock {
    box-shadow: unset;
    border-radius: unset;
  }

  #content{
    width: 496px;
  }

  .slidhead {
    width: 496px;
  }

  .titlePrimaryBlock {
    width: 470px;
    padding: 5px 0px;
  }

  .titlePrimaryBlock h1 {
    padding-left: 5px;
  }

  .imgPrimaryBlock {
    width: 470px;
    height: 500px;
  }

  .imgPrimaryBlock img {
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }

  .contentPrimaryBlock {
    width: 470px;
    top:160px
  }

  .bkgrdBlock {
    width: 200px;
  }

  .justContent a {
    padding-top: unset;
  }
}

@media screen and (max-width:900px) {

  #header_top img {
    width: 100%;
    margin: unset;
  }

  #banniere-haut {
    width: 100%;
  }

  .element>a>img {
    width: 100%;
    height: auto;
  }

  #page {
    justify-content: start;
  }

  .post .addtoany_list {
    display: none;
  }

  .post h2.nosticky {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 856px) {
  
  .slidhead {
    width: 470px;
  }
  /*
  .sidebar_pubs a img {
    width: 60%;
    height: auto;
  }
  */
}

@media screen and (max-width: 835px){
  .slidhead, .primaryBlock, .titlePrimaryBlock , .imgPrimaryBlock, .contentPrimaryBlock, .post {
    width: 99%;
  }

  #sidebar {
    margin-left: 1%;
  }

  #sidebar img[alt="contactez Montceau-news"] {
    width: 90%;
  }

  #sidebar .sidebar_pubs a img {
    width: 95%;
    height: auto;
    margin-bottom: 40px;
  }
  
  #sidebar .sidebar_pubs iframe {
    transform-origin: top left;
    /*border: 1px solid !important;*/
  }
}

@media screen and (max-width: 768px) {
  header {
    /*position: fixed;
    width: 100%;
    z-index: 1;*/
    margin-bottom: -3px;
  }

  header + br {
    display: none;
  }

  #header_top {
    justify-content: center;
    padding: 10px;
    box-sizing:border-box;
  }

  #header_top i {
    display: inline !important;
    position: absolute;
    top: 20px;
    font-size: 20px;
  }

  #header_top #icon_menu {
    left: 10px;
  }

  #header_top #icon_research {
    right: 50px;
  } 

  #header_top #icon_menu_newspaper {
    right: 10px;
  }  

  #pre-header {
    width: 100%;
    margin-bottom: unset;
    height: 245px;
  }

  #header_top a {
    width: 40%;
  }

  #pre-header, #header_top  {
    height: auto;
  }

  #other_blocks {
    display: none;
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 2;
    border: 1px solid black;
    flex-direction: row;
    height: 58px;
    background-color: #333;
  }

  #other_blocks>* {
    display: none;
    width: 100%;
    flex-direction: row;
  }

  #search_block label, #wblock .h2 {
    display: none;
  }

  #s::placeholder {
    color: grey;
  }

  #menu_list {
    display: none;/* apparition au click */
    width: 100%;
    height: 73px;
    position: absolute;
    top:0;
    z-index: 1;
  }

  #menu_list #cat_parent {
    width: 50%;
    flex-direction: column;
    position: relative;
    height: fit-content;
    background-color: #372f2f ;
  }

  #menu_list #cat_parent_2 {
    width: 50%;
    flex-direction: column;
    position: relative;
    height: fit-content;
  }

  #menu_list #close_menu {
    display: inline;
    position: absolute;
    top :10px;
    left:10px;
    font-size: 20px;
  }

  #other_blocks #close_others_blocks {
    display: inline;
    position: absolute;
    width:auto;
    top: 20px;
    left: 10px;
    font-size: 20px;
  }

  #firstChild {
    min-height: unset;
  }

  #sidebar #nbviews {
    background: #f0f0f0;
    width: 90%;
    border-radius: 5px;
    margin: 15px auto;
    box-shadow: 5px 5px 5px lightgrey;
  }

    /* Page d'article*/

  .post>h2 {
    font-size: 20px;
  }

  .post>h3 {
    font-size: 16px !important;
  }
  /*
  ins.adsbygoogle {
    transform-origin: top left;
    transform: scale(45%);
    margin-bottom: -170px;
  }
  */
}

@media screen and (max-width: 708px) {

  #pre-header {
    width: 100%;
  }

  #header_top {
    flex-direction: column;
    align-items: center;
  }

  #header_top img {
    margin: unset;
  }

  #other_blocks {
    width: 100%;
    border-left: unset;
    height: 60px;
  }

  #site_selector {
    margin-left: 30px;
  }

  .element>a>img {
    width: 100%;
    height: auto;
  }

  #content {
    width: 60%;
  }

  .post {
    display: flex;
    flex-direction: column;
  }

  .nosticky {
    font-size: 20px !important;
    margin-top: 20px;
  }

  #content .pubs {
    padding: 15px;
  }

  #sidebar {
    width: 40%;
    overflow: hidden;
    margin-left: 5%;
  }

  #sidebar h3 {
    width: 95%;
    font-size: 16px;
  }

  #sidebar img[alt="contactez Montceau-news"] {
    width: 100%;
  }

  #sidebar #nbviews {
    padding-top: 10px;
  }

  .sidebar_pubs {
    text-align: start; 
  }

  .pub-single-article>* {
    border: 1px solid black;
  }

  .sidebar_pubs a, .sidebar_pubs div, .sidebar_pubs ins {
    display: block;
    height: max-content !important;
    margin-bottom: 70px;
  }

  #sidebar .sidebar_pubs a img {
    margin-bottom: -40px;
  }

  .titlePrimaryBlock {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .titlePrimaryBlock h1 {
    padding-left: 10px;
    font-size: 20px;
  }

  .imgPrimaryBlock {
    height: 495px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .justContent p .text {
    font-size: 13px;
    height: 200px;
  } 

  .post img {
    width: 100%;
    height: auto;
  }

  .navigation {
    width: 100%;
    margin-left: unset;
  }

  .pub-deb-article {
    float: unset !important;
    margin: 0 auto;
  }

 .post .entry    .pub-deb-article  .adsbygoogle{
    border: 1px solid;
    transform: scale(0.9);
  }
}

@media screen and (max-width: 481px) {

  #header_top img {
    margin: 5px 0;
  }

  #site_selector {
    margin-left: unset;
    height: 28px;
    width: 67%;
    font-size: 12px;
  }

  #s {
    width: 100%;
    margin-left: unset;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  #wlblock {
    margin-top: 5px;
  }

  .logo_menu {
    margin-bottom: 0px;
    margin-top: 18px;
    /* border: 1px solid; */
  }

  #menu_list>*>li {
    font-size: 10px;
  }

  .post h3 {
    font-size: 16px;
    width: 95%;
  }
}

@media screen and (max-width: 352px) {
  #other_blocks {
    flex-direction: column;
  }
}




